# dependencies
node_modules
/.pnp
.pnp.js
.pnpm-store
# testing
/coverage

# production
docs-dist
dist
build
es
lib

# misc
.DS_Store
pluginTemp/js/*
**/pluginTemp/js/*.js
**/pluginTemp/js
**/pluginTemp/media
pluginTemp/libs/*
plugin-*.zip
temp
.history
# log files
*.log
# Editor directories and files
.umi
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
